# Timeout global untuk semua request API (ms)
VITE_API_TIMEOUT=10000

# Auth Service (port default: 4001)
VITE_AUTH_SERVICE_URL=http://localhost:4001/api

# Book Service (port default: 4002)
VITE_BOOK_SERVICE_URL=http://localhost:4002/api

# Review Service (port default: 4003)
VITE_REVIEW_SERVICE_URL=http://localhost:4003/api

# Favorite Service (port default: 4004)
VITE_FAVORITE_SERVICE_URL=http://localhost:4004/api

# User Service (port default: 4005)
VITE_USER_SERVICE_URL=http://localhost:4005/api

# Category Service (port default: 4006)
VITE_CATEGORY_SERVICE_URL=http://localhost:4006/api

# Notification Service (port default: 4007)
VITE_NOTIFICATION_SERVICE_URL=http://localhost:4007/api
